html, body {
  height: 100%;
  margin: 0;
}

body {
  background-color: #ffffff;
  color: #181a1c;
  font-family: sans-serif;
}

#page-container {
  position: absolute;
  display: grid;
  grid-template-rows: [top] auto [middle] 1fr [bottom];
  grid-template-columns: [left] 18em [center] 1fr [right];
  grid-template-areas:
    "header header"
    "info list";
  width: 100%;
  height: 100%;
  grid-gap: 2px;
  background-color: #ffffff;
}

#header {
  grid-area: header;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: "title search links";
  background-color: #ffaa00;
  color: #ffffff;
  font-weight: bold;
}

h1 {
  margin: 0.5em;
  grid-area: title;
}

#search {
  grid-area: search;
  height: 2em;
  max-width: 20em;
  /* vertical-align: middle; */
  margin: auto 0 auto 0;
}

#links {
  grid-area: links;
  /* height: 2em;
  max-width: 20em; */
  /* vertical-align: middle; */
  margin: auto 1em auto 0;
}

#links img {
  width: 1em;
  height: 1em;
  vertical-align: text-top;
}

#links a {
  background-color: #ffffff;
  color: #181a1c;
  font-family: sans-serif;
  text-decoration: none;
  padding: 0.2em;
  border-radius: 0.2em;
}

#info {
  grid-area: info;
  background-color: #f7f7f7;
  padding: 1em;
}

#large-preview {
  width: 150px;
  image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges;          /* Firefox                        */
  image-rendering: -o-crisp-edges;            /* Opera                          */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: pixelated; /* Chrome */
  image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

p.preview-image {
  text-align: center;
}

.text-button {
  display: grid;
  grid-template-columns: 8em auto;
}

/* .text-button input {
  border-radius: 3px 0 0 3px;
  border-width: 1px;
  border-color: #181a1c;
}

.text-button button {
  border-radius: 0 3px 3px 0;
  border-width: 1px 1px 1px 0;
  border-color: #181a1c;
} */

#name {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.2em;
}

#list {
  grid-area: list;
  background-color: #ffffff;
  overflow-y: auto;
}

#list img {
  width: 45px;
  image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges;          /* Firefox                        */
  image-rendering: -o-crisp-edges;            /* Opera                          */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: pixelated; /* Chrome */
  image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
  margin: 0.25em 0 0 0.25em;
  padding: 0.25em;
  border-radius: 0.25em;
  transform: translate(0pt);
  transition-property: background-color, transform;
  transition-duration: 300ms;
}

#list img:hover, #list img:focus, #list img.selected {
  background-color: #ffaa00;
  transform: translateY(-2pt);
}
