body {
    font-family: sans-serif;
    font-size: 15px;
    margin: 2em;
    padding-right: 1em;
}

h1, h2, h3, h4 {
    text-align: center;
}

a {
    color: orange;
    text-decoration: underline 1px;
}

*[block] {
    display: block;
}

progress {
    appearance: none;
}

progress[value]::-webkit-progress-value {
    background-color: orange;
}

progress[value]::-webkit-progress-bar {
    border: 1px black solid;
    background-color: white;
    height: 1em;
    width: 10em;
    border-radius: 3px;
    overflow: hidden;
}

#list-link {
    background-color: white;
    border: 1px black solid;
    border-radius: 3px;
    display: flex;
    align-content: center;
    justify-content: center;

    position: sticky;
    top: 1em;
    left: 1em;
    right: 1em;
    height: 1.2em;
    margin: 1em;
}
